body {
    padding: 2% 7%;
}

.new-todo {
    display: flex;
    justify-content: flex-end;
}

.add-new-todo {
    width: 200px;
    height: 35px;
    padding-top: 10px;
    color: white;
    text-align: center;
    background-color: var(--blue);
}

.add-new-todo a {
    text-decoration: none;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.title,
.content {
    width: 350px;
    padding: 20px;
}

.title {
    font-weight: 700;
    font-size: xx-large;
    color: white;
    background-color: var(--green);
}

.content {
    height: 80px;
    margin-top: 7%;
    background-color: var(--mint);
}

.content-title{
    font-weight: 700;
    font-size: x-large;
}

.content-detail{
	display: flex;
	position: absolute;
}

.btn-next{
	width: 30px;
	height: 30px;
	position: relative;
    right: -12px;
}

