.todo-title {
	text-align: center;
	margin-bottom: 35px;
}

.form-group {
	display: grid;
	margin-bottom: 20px;
}

.form-group label {
	margin-bottom: 10px;
}

.form-group input[type="text"] {
	height: 30px;
}

.form-radio {
	display: flex;
	margin-top: 10px;
}

.form-radio label {
	padding-right: 10px;
}

.btn-input input[type="button"], .form-btn input[type="reset"], .btn-back input[type="button"]
	{
	width: 120px;
	height: 35px;
	font-weight: 500;
	font-size: large;
}

.btn-back input[type="button"] {
	background-color: white;
	border: 1px solid;
}

.btn-back input[type="button"]:hover {
	background-color: var(--mint);
}

.btn-input input[type="button"], .form-btn input[type="reset"] {
	color: white;
	background-color: var(--blue);
	border: none;
}

.btn-submit:hover, .form-btn input[type="reset"]:hover {
	color: black;
}

.btn-input input[type="button"] {
	margin-right: 8px;
	text-align: center;
}

.form-btn {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
