.todo-title{
    text-align: center;
    margin-bottom: 35px;
}

.todo-form{
    margin: 0px 478px;
}

.form-group{
    display: grid;
    margin-bottom: 20px;
}

.form-group label{
    margin-bottom: 10px;
}

.form-group input[type=text]{
    width: 700px;
    height: 30px; 
}

.form-radio{
    display: flex;
    margin-top: 10px;
}

.form-radio label{
    padding-right: 10px;
}

.btn-back{
    width: 120px;
    height: 35px;
    border: 1.5px black solid;
    text-align: center;
}

.btn-back a{
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle;
}

.todo-form input[type=submit],
.todo-form input[type=reset]{
    width: 120px;
    height: 35px;
    font-weight: 500;
    font-size: large;
    color: white;
    background-color: var(--blue);
    border: none;
}

.todo-form input[type=submit]{
    margin-right: 8px;
}

.form-btn{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}


